<!doctype html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AngularJS • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body>
		<section todo-controller id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<!-- Oh boy, there is no ng-submit yet. :( -->
				<form id="todo-form" ng-submit="todo.add()" onsubmit="return false">
					<input id="new-todo" placeholder="What needs to be done?" ng-model="todo.newItem" autofocus>
				</form>
			</header>
			<section id="main" ng-show="todo.items.length" ng-cloak>
				<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<li ng-repeat="todo in todo.items | filter:statusFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed">
							<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" ng-click="removeTodo(todo)"></button>
						</div>
						<form ng-submit="doneEditing(todo)">
							<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
						</form>
					</li>
				</ul>
			</section>
			<footer id="footer" ng-show="todo.total()" ng-cloak>
				<span id="todo-count"><strong>{{todo.remaining()}}</strong>
					<ng-pluralize count="todo.items" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<!--
				TODO: Routing :)
				<ul id="filters">
					<li>
						<a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				-->
				<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="todo.completed() > 0">Clear completed ({{todo.completed()}})</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Not using todomvc-common base.js just yet.
		<script src="bower_components/todomvc-common/base.js"></script>
		-->
		<script src="src/main.dart" type="application/dart"></script>
		<script src="packages/browser/dart.js"></script>
		<script src="packages/browser/interop.js"></script>
	</body>
</html>
